Alterar o código Home.Page.html


<ion-header>
  <ion-toolbar>
    <ion-title>Minhas Tarefas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearDone()" fill="clear">Limpar concluídas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="addTodo()">
    <ion-item>
      <ion-input
        placeholder="Nova tarefa..."
        [(ngModel)]="newTitle"
        name="title"
        required
        autocomplete="off">
      </ion-input>
      <ion-button type="submit">Adicionar</ion-button>
    </ion-item>
  </form>

  <ion-list *ngIf="todos.length; else vazio">
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="todo.done"
          (ionChange)="toggleDone(todo)">
        </ion-checkbox>

        <ion-label [class.done]="todo.done">
          <h2>{{ todo.title }}</h2>
          <p>Criada em {{ todo.createdAt | date:'short' }}</p>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="editTodo(todo)" fill="clear">Editar</ion-button>
          <ion-button color="danger" (click)="deleteTodo(todo)" fill="clear">Excluir</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ng-template #vazio>
    <ion-text color="medium">
      <p>Nenhuma tarefa ainda. Adicione a primeira! 🎯</p>
    </ion-text>
  </ng-template>

</ion-content>